<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>

    <div class="site-info">
      <h1>Spring Boot VueJS</h1>
    </div>

<div class="alert alert-success alert-dismissible fade show" role="alert">
  With Bootstrap!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

    <nav>
      <router-link class="btn btn-primary" to="/">Customers</router-link>
      <router-link class="btn btn-primary" to="/add">Add</router-link>
      <router-link class="btn btn-primary" to="/search">Search</router-link>
    </nav>
    <br>
    <router-view/>
  </div>
</template>

<script>
// import HelloWorld from "./components/HelloWorld.vue";

export default {
  name: "app",
  // components: {
  //   HelloWorld
  // }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.site-info {
  color: rgb(25, 136, 187);
  margin-bottom: 20px;
}

.btn-primary {
  margin-right: 5px;
}
</style>
